:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	padding: 1em 5%;

	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;
}

header {
	display: flex;
}

nav {
	display: flex;
	align-items: center;
	margin-left: auto;
}

nav svg {
	height: 2em;
	height: 2em;
}
