:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	padding: 1em 5%;

	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;
}

header {
	display: flex;
	margin-bottom: 4em;
}

nav {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.badge {
	font-size: 12px;
	background: black;
	color: #c84800;
	border-radius: 50%;
	padding: 0.3em;
	position: relative;
	left: -10px;
	top: -22px;
}

.row {
	display: grid;
	place-content: center;
	gap: 1.5em;
}

@media screen and (max-width: 1200px) {
	.row-md {
		grid-template-columns: repeat(4, max-content);
	}
	.row-lg {
		grid-template-columns: repeat(2, 45%);
	}
}
