:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	padding: 1em 5%;

	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;
}

header {
	display: flex;
	margin-bottom: 4em;
}

nav {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.badge {
	font-size: 12px;
	background: black;
	color: #c84800;
	border-radius: 50%;
	padding: 0.3em;
	position: relative;
	left: -10px;
	top: -22px;
}

.col {
	display: grid;
	place-content: center;
	gap: 1.5em;
}

.product {
	background-color: white;
	color: #242424;
	border-radius: 5px;
}

.prodInfo {
	display: flex;
	gap: 1em;
	margin: 1.5em 1.3em 0 1.3em;
}

.prodData {
	display: grid;
}
.name {
	line-height: normal;
	margin: 0.2em;
}
.id {
	margin: 0.1em;
}

.listPrice {
	color: #909090;
	align-self: center;
	justify-self: end;
	margin: 0;
	text-decoration: line-through;
}
.price {
	color: #941b0c;
	font-weight: bold;
	text-align: end;
	font-size: 24px;
	margin: 0;
	margin-top: -0.5em;
	margin-right: 0.7em;
}

.product img {
	height: 10em;
	width: 10em;
}
.rate {
	display: flex;
	height: 24px;
}

.numReviews {
	align-self: center;
	margin: 0 1em;
	color: #c3c3c3;
}

.btn button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: none;
	padding: 0.7em;
	width: 50%;
	border-radius: 0 0 5px 5px;
	cursor: pointer;
}

.btn button svg {
	width: 25px;
	height: 25px;
}

@media screen and (max-width: 1200px) {
	.col-4 {
		grid-template-columns: repeat(4, max-content);
	}
	.col-2 {
		grid-template-columns: repeat(2, 45%);
	}
}
